{
  "extends": ["airbnb-base"],
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "no-case-declarations": "warn",
    "import/no-named-as-default":"warn",
    "consistent-return":"warn",
    "no-nested-ternary": "warn",
    "no-fallthrough": "warn",
    "no-plusplus":"off",
    "no-return-await": "off",
    "no-shadow": "off",
    "no-class-assign": "off",
    "import/no-unresolved" : "off",
    "import/extensions": "off",
    "import/prefer-default-export": "warn",
    "import/first": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import":"warn",
    "max-len": ["warn", {"code": 200}], /*airbnb default maxlength causes problems with my ide*/
    "no-underscore-dangle": "off",
    "indent" : ["warn", 4],
    "camelcase": ["warn", {"properties": "always"}],
    "comma-dangle": "off",
    "comma-spacing": ["warn", {"before": false, "after": true}],
    "object-curly-newline": "off",
    "object-curly-spacing": "off",
    "array-bracket-spacing":["warn", "never"],
    "key-spacing": ["warn", { "afterColon": true, "beforeColon": false }],
    "no-unused-vars": "warn",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "func-names": "off",
    "keyword-spacing": "warn",
    "prefer-const": "warn",
    "padded-blocks": "warn",
    "prefer-template": "warn",
    "space-infix-ops": "warn",
    "radix": "off",
    "no-return-assign": "off",
    "eol-last":"off",
    "no-multi-assign": "off",
    "quotes": ["warn","single"],
    "semi": [ "warn","always" ],
    "default-case": "warn"
  }
}
